.nav{
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
    
    
}
    
.nav li{
    display: inline-flex;
    
    
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
    
    
}
h1{
    font-stretch: expanded;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    color: white;
}
p{
    font-size: 0.8cm;
    color:white;
 }
 #images{
     text-align: center;
     display: flex;
 }
 .home{
     background-color: black;
 }
